<style>
    h1 {
	margin: auto;
	padding: 10px;
	text-align: center;
	width: 100%;
	height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 575px;
    background-image:url('https://images.unsplash.com/photo-1506784983877-45594efa4cbe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab3ab3da37d9c3cff72666376c089e3c&w=1000&q=80');
    background-size: 100%;
}
p {
	margin: auto;
	padding: 20px;
	color: black;
	text-align: center;
	line-height: 1.7em;
}
.topnav{
    padding: 10px;
    background-color: #bbe3ea;
    border-bottom: 2px solid
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.03);
    color: #fff;
    display: block;
    padding: 0 1em;
    padding-top: 0px;
    padding-right: 1em;
    padding-bottom: 0px;
    padding-left: 1em;
    font-size: 18px;
    text-align: center;
    height: 26px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.body {
	background-color: mistyrose;
	margin: auto;
	padding: 10px;
	height: 50%;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}
/* Change the color of links on hover */
.topnav a:hover {
	color: white;
	font-size: 18px;
}
/* Add a color to the active/current link */
.topnav a.active {
	color: white;
	font-size: 18px;
}
h2 {
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
}
#footer {
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    padding: 10px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 8px;
}
#bottom {
    background-color: gray;
    color: white;
    height: 10px;
    width: 100%;
    padding: 10px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 8px;
}
.button {
  background-color: #000000;
  color: #FFFFFF;
  float: center;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 40%;
  height: 30%;
  font-family: 'Playfair Display', serif;
  font-size: 75px;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  transform: translate(0%, 50%);
}
button.accordion {
    background-color: white;
    color: black;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    border: none;
    outline: none;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-style: italic;
}
accordion:active, .accordion:hover {
    background-color: #D3D3D3;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-style: italic;
}
div.panel {
    padding: 0 18px;
    background-color: #D3D3D3;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.img-circle {
    border-radius: 50%;
    border: 5px solid white;;
}
.header {
    display:block;
    height: 50px;
    width: 100%;
}
input [type = text], select, textarea {
    width: 100%
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input [type = submit] {
    background-color: black;
    color: white;
    padding: 12px 20px
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input [type = submit] : hover {
    background-color: pink;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
</style>
